@import "tailwindcss";

:root {
    --background-color: #FAFAFA;
    --background-color-box: #ffffff;
    --text-color: #868686;
    --heading-color: #0369a1;
    --first-bg: #0369a1;
    --second-bg: #0369a11a;
    --text-color-heading: #202020;
    --border-color: rgba(0, 0, 0, 0.09);
    --text-color-two: rgba(0, 0, 0, 0.5);
    --dot-color: rgba(0, 0, 0, 0.05);
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    background-color: var(--background-color);
    scroll-behavior: smooth;
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
    padding: 0;
}

/* CSS for Event Card Slider */
.pricing-container {
    padding-top: 60px;
    padding-bottom: 80px;
    background: linear-gradient(to top, #ffffff, #e6eaff);
    background-image:
        linear-gradient(var(--dot-color, rgba(0, 0, 0, 0.02)) 1px, transparent 1px),
        linear-gradient(90deg, var(--dot-color, rgba(0, 0, 0, 0.02)) 1px, transparent 1px);
    background-size: 60px 60px;
    background-position: 0 0;
    background-color: var(--background-color, #ffffff);
    backdrop-filter: blur(1px);
    margin-top: -6;
    border-bottom: 1px solid var(--border-color);
    overflow: hidden;
}

/* Heading text animation */
.masked-text.small {
    font-size: 1rem;
  }
  .masked-text.medium {
    font-size: 1.7rem;
  }
  .masked-text.large {
    font-size: 2.4rem;
  }
.masked-text {
    background-image: linear-gradient(-225deg,
            #2e7d32 0%,
            #0369a1 29%,
            #0369a1 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;

}
@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

@media screen and (max-width:700px){
    .masked-text.small,.masked-text.medium, .masked-text.large {
        font-size: 1.5rem !important;
    }
    .pricing-container{
        padding-bottom: 40px !important
    }
    
}